<div class="container">
    <div class="row mt-3">
      <div class="col-sm">
        <div>
            <h3>ngFor</h3>
            <ul *ngFor="let user of users">
                <li> {{ user.name }} </li>
            </ul>
        </div>
      </div>
      <div class="col-sm">
        <div>
            <h3>ngIf</h3>
            <ul *ngFor="let user of users">
                <li *ngIf="user.age >= 18"
                    class="text-success">{{ user.name }}</li>
            </ul>
        </div>
      </div>
      <div class="col-sm">
        <div>
            <h3>ngSwitch</h3>
            <ul *ngFor="let user of users" 
                [ngSwitch]="user.city">
                <li *ngSwitchCase="'Vijayawada'"
                    class="text-success">
                    {{user.name}}
                </li>
                <li *ngSwitchCase="'Vizag'"
                    class="text-primary">
                    {{user.name}}
                </li>
                <li *ngSwitchCase="'Hyderabad'"
                    class="text-danger">
                    {{user.name}}
                </li>
                <li *ngSwitchDefault
                    class="text-warning">
                    {{user.name}}
                </li>
            </ul>
        </div>
      </div>
      <div class="col-sm">
          <!-- To add style, we use [ngStyle] -->
        <p [ngStyle]="{'font-size.px':24}">ngStyle</p>
        <span [ngStyle]="{'border':'1px solid green'}">users below</span>
        <!-- We can use [style.property] to directly add one -->
        <p [style.font-size.px]="21">18 yrs</p>
        <!-- We can also add [style.property] value by binding the function -->
        <ul *ngFor="let user of users"
            [style.color]="getPermit(user.age)">
            <li>{{user.name}}</li>
        </ul>
      </div>
      <div class="col-sm">
          <!-- To add one class, we can use [class] -->
            <p [class]="'ngClassTitle'">ngClass</p>
            <ul *ngFor="let user of users">
                <li>
                    <!-- To add multiple classes based on conditions, we use [ngClass] -->
                    <p [ngClass]="{
                        'red': user.age < 18,
                        'green': user.age >= 18
                    }">{{user.name}}</p>
                    <p>from: {{user.city}}</p>
                </li>
            </ul>
      </div>
    </div>
    <div class="row">
        <app-pipes></app-pipes>
    </div>
  </div>
