<div class="container mt-5">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Password</label>
          <input type="text" class="form-control" id="password" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Language</label>
          <select class="form-control" id="language">
            <option>Telugu</option>
            <option>English</option>
            <option>Hindi</option>
            <option>Spanish</option>
            <option>Italian</option>
          </select>
        </div>
      </form>
</div>